$themColor1 : rgb(42, 148, 219);
$lineColor1:rgb(50, 146, 236);
$borderColor1:rgb(28, 96, 185);
$boxShadow1:rgb(164, 185, 199);

$themColor2:rgb(219, 42, 42);
$lineColor2:rgb(226, 44, 44);
$borderColor2:rgb(158, 6, 6);
$boxShadow2:rgb(248, 134, 134,0.5);